= form_for @category, url: url,
   :html => { :class => "form-horizontal" } do |f|
  - if @category.errors.any?
    #error_explanation
      %h2
        = pluralize(@category.errors.count, "error")
        prohibited this category from being saved:
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :name, :class => "control-label"
    %br/
    .controls
      = f.text_field :name, :class => "input-xlarge"
  .form-actions
    = f.submit @category.new_record? ? t("views.categories.create") : 'Zapisz zmiany',
      :class => "btn btn-primary"
    
