= form_for [:api, :v1, category],
   :html => { :class => "form-horizontal" } do |f|

  = render partial: 'shared/form_validation', locals: { object: category }

  .control-group
    = f.label :name, :class => "control-label"
    .controls
      = f.text_field :name, :class => "input-xlarge"

  .form-actions
    = f.submit category.new_record? ? t("views.categories.create") : 'Zapisz zmiany',
      :class => "btn btn-primary"
