= form_for [:api, :v1, product],
  :html => { :class => "form-horizontal" } do |f|

  = render partial: 'shared/form_validation', locals: { object: product }

  -#= f.hidden_field :user_id, :value => current_user.id
  .control-group
    = f.label :name, :class => "control-label"
    .controls
      = f.text_field :name, :class => "input-xlarge"
  .control-group
    = f.label :price, :class => "control-label"
    .controls
      = f.text_field :price, :class => "input-xlarge"
  .control-group
    = f.label :barcode, :class => "control-label"
    .controls
      = f.text_field :barcode, :class => "input-xlarge"
  .control-group
    = f.label :amount, :class => "control-label"
    .controls
      = f.text_field :amount, :class => "input-xlarge"
  .control-group
    = f.label :category_id, :class => "control-label"
    .controls
      = f.select :category_id, options_from_collection_for_select(Category.all, :id, :name, @product.category_id),
        {:prompt => "Zaznacz kategorie"}
  .control-group
    = f.label :manufacturer_id, :class => "control-label"
    .controls
      = f.select :manufacturer_id, options_from_collection_for_select(Manufacturer.all, :id, :name, @product.manufacturer_id),
        {:prompt => "Zaznacz producenta"}
  .control-group
    = f.label :description, :class => "control-label"
    .controls
      = f.text_area :description, :class => "input-xxlarge", :rows => 5

  .form-actions
    = f.submit @product.new_record? ? t("views.product_template.submit") : "Zapisz zmiany",
      :class => "btn btn-primary"
