%tr
  %th Nazwa
  %td= @product.name
%tr
  %th Cena
  %td= @product.price
%tr
  %th Kod kreskowy
  %td= @product.barcode
%tr
  %th Ilość
  %td= @product.amount
%tr
  %th Kategoria
  %td= @product.category_id
%tr
  %th Producent
  %td= @product.manufacturer_id
%tr
  %th Opis
  %td= @product.description
%tr
  %th Dodano
  %td= @product.created_at
