%h2= t("views.products.edit")
= render  partial: 'form', locals: { url: api_v1_product_path(@product) }
- content_for :sidebar do
  .well
    %ul.nav.nav-list
      %li.nav-header= t("views.shared.sidebar_list_of_options")
      %li.divider
      %li
        = link_to api_v1_products_path do
          %i.icon-backward
          = t("views.shared.sidebar_back_to_list")
