%p#notice= notice
%p
  %b= t("views.products.name")
  = @product.name
%p
  %b Description:
  = @product.description
= link_to t("views.products.edit"), edit_api_v1_product_path(@product)
|
\#{link_to 'Lista produktów', api_v1_products_path}
