- if @products.any?
  .page-header
    %h2= t("views.home.products_index")

  %table.table.table-hover
    = render :partial => "product", :collection => @products

- if @categories.any?
  .page-header
    %h2= 'Nowe kategorie'

  %table.table.table-hover
    = render :partial => "category", :collection => @categories

- if @manufacturers.any?
  .page-header
    %h2= 'Nowi producenci'

  %table.table.table-hover
    = render :partial => "manufacturer", :collection => @manufacturers

- content_for :sidebar do
  =render :partial => "shared/sidebar",
    :locals => { :options =>  sidebar_options(:main_page) }
