.page-header
  %h2= t("views.categories.edit") 
= render 'form'
- content_for :sidebar do
  .well
    %ul.nav.nav-list
      %li.nav-header= t("views.shared.sidebar_list_of_options")
      %li.divider
      %li
        = link_to categories_path do
          %i.icon-backward
          = t("views.shared.sidebar_back_to_list")
