= form_for [:api, :v1, manufacturer],
  :html => { :class => "form-horizontal" }   do |f|

  = render partial: 'shared/form_validation', locals: { object: manufacturer }

  .control-group
    = f.label :name, :class => "control-label"
    .controls
      = f.text_field :name, :class => "input-xlarge"

  .form-actions
    = f.submit manufacturer.new_record? ? t("views.manufacturers.create") : 'Zapisz zmiany', :class => "btn btn-primary"
