.page-header
  %h2= t("views.manufacturers.create")
= render partial: 'form', locals: { url: api_v1_manufacturers_path }
- content_for :sidebar do
  .well
    %ul.nav.nav-list
      %li.nav-header
        = t ("views.shared.sidebar_list_of_options")
      %li.divider
      %li
        = link_to api_v1_manufacturers_path do
          %i.icon-home
          = t("views.shared.sidebar_back_to_list")
