%p#notice= notice
%p
  %b= t("views.categories.name")
  = @manufacturer.name
= link_to t("views.manufacturers.edit"), edit_manufacturer_path(@manufacturer)
|
\#{link_to 'Lista producentów', manufacturers_path}
