!!!
%html
  %head
    %title StockOO
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    %body
      .container
        = render partial: "shared/navi"
        .row
          .span8
            = render partial: "shared/alert"
            = yield
          .span4
            = yield :sidebar
        = javascript_include_tag "application", "data-turbolinks-track" => true
