!!!
%html
  %head
    %title StockOO
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    %body
      .container
        %nav.navbar.navbar-inverse{role: "navigation"}
          .navbar-inner
            .container
              %a.brand{:href => root_path}
                StockOO
              %ul.nav
                - main_menu.each do |section|
                  %li{:class => if section[:url] == request.path then "active" else "" end}
                    %a{:href => section[:url]}= section[:label]
        .row
          .span8
            = yield
          .span4
            = yield :sidebar
        = javascript_include_tag "application", "data-turbolinks-track" => true
